<app-navbar></app-navbar>
<br><br><br>

<div>
    <section class="section" id="propos" style="height: 40vh;">
        <img src="assets/images/small/gp.jpeg" alt="Image de fond" class="full-width" />
        <div class="container">
            <div class="row ">
                <h1 class=" titre text-center">Gravity Testing </h1>
            </div>
        </div>
    </section>

    <section  class="section pt-4 bg-white">
        <div class="container">
            <div class="row align-items-center mt-5 pt-md-5">
                <div class="col-md-6">
                    <div class="mt-4 mt-md-0">
                        <div class="d-flex align-items-center mb-2">
                            <h1>Gravity Testing </h1>
                        </div>
                        <p class="text-muted">Gravity separation technologies are attractive beneficiation methods, being the most economical process route for mineral recovery.  With a leading expertise in mineral processing flowsheet development, IGS team can offer a wide range of gravity separation testing options:</p>
                        <div class="text-muted mt-4">
                            <p class="mb-2"><i class="mdi mdi-circle-medium text-success me-1"></i>Knelson Gravity Concentration</p>
                            <p class="mb-2"><i class="mdi mdi-circle-medium text-success me-1"></i>Mozley Tabling</p>
                            <p class="mb-2"><i class="mdi mdi-circle-medium text-success me-1"></i>One stage and E-GRG testing</p>
                            <p class="mb-2"><i class="mdi mdi-circle-medium text-success me-1"></i>HLS testing characterisation</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6  col-sm-8 ms-md-auto">
                   
                    <div class="card">

                        <div class="card-body">
                          <!-- Crossfade carousel -->
                          <ngb-carousel [showNavigationIndicators]="showNavigationIndicators">
                            <ng-template ngbSlide>
                              <img src="assets/images/small/g1.jpg" alt="first slide" class="animated fadeIn d-block img-fluid img-bordered">
                            </ng-template>
                            <ng-template ngbSlide>
                              <img src="assets/images/small/g2.jpg" alt="second slide" class="animated fadeIn d-block img-fluid img-bordered">
                            </ng-template>
                            <ng-template ngbSlide>
                              <img src="assets/images/small/g3.jpg" alt="third slide" class="animated fadeIn d-block img-fluid img-bordered">
                            </ng-template>
                            
                          </ngb-carousel>
                          <!-- End Crossfade carousel -->
                        </div>
                      </div>
                   
                    
                </div>

            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center mb-5">

                    </div>
                </div>
            </div>
        </div>
    </section>

</div>


<app-footer></app-footer>