<app-navbar></app-navbar>
<br><br><br>

<div>
    <section class="section" id="propos" style="height: 40vh;">
        <img src="assets/images/small/consulting.jpeg" alt="Image de fond" class="full-width" />
        <div class="container">
            <div class="row ">

                <h1 class=" titre text-center"> Consulting </h1>

            </div>
        </div>
    </section>

    <section  class="section pt-4 bg-white">
        <div class="container">
            <div class="row align-items-center mt-5 pt-md-5">
                <div class="col-md-6">
                    <div class="mt-4 mt-md-0">
                        <div class="d-flex align-items-center mb-2">
                            <h1>Consulting </h1>
                        </div>
                        <p> IGS provides specific consulting services and support to Chemical, Materials and Minerals industries, delivering solutions in all steps of project development and along the operation and production chain.</p>
                        <p class="text-muted"> Our team is willing to bring to your organization knowledge, know-how and solutions to allow you to make profit and remain competitive.</p>

                        <div class="text-muted mt-4">
                            <h5>Our services include:</h5>
                            <p class="mb-2"><i class="mdi mdi-circle-medium text-success me-1"></i>Solutions, Tools, Methods, Process & Flowsheet Development</p>
                            <p class="mb-2"><i class="mdi mdi-circle-medium text-success me-1"></i>Lab, Pilot Demonstration Testing Program Supervision</p>
                            <p class="mb-2"><i class="mdi mdi-circle-medium text-success me-1"></i>Prototyping</p>
                            <p class="mb-2"><i class="mdi mdi-circle-medium text-success me-1"></i>Tech-Watching, Tech-Sourcing & Tech-Solving</p>
                            <br>
                            <p class="mb-2"><i class="mdi mdi-circle-medium text-success me-1"></i>Valuation of IP and Patenting (VIP)</p>
                            <p class="mb-2"><i class="mdi mdi-circle-medium text-success me-1"></i>Due Diligent Review</p>
                            <p class="mb-2"><i class="mdi mdi-circle-medium text-success me-1"></i>Specific R&D Management and Collaboration Follow Up</p>
                            <p class="mb-2"><i class="mdi mdi-circle-medium text-success me-1"></i>Specific R&D Management and Collaboration Follow Up</p>
                            <p class="mb-2"><i class="mdi mdi-circle-medium text-success me-1"></i>Start-Up & Ramp-Up Support</p>
                            <br>
                            <p class="mb-2"><i class="mdi mdi-circle-medium text-success me-1"></i>Operation and Project Auditing (IMPACT)</p>
                            <p class="mb-2"><i class="mdi mdi-circle-medium text-success me-1"></i>Workforce Talent Staffing (WTS)</p>
                            <p class="mb-2"><i class="mdi mdi-circle-medium text-success me-1"></i>Training & Coaching</p>
                            <p class="mb-2"><i class="mdi mdi-circle-medium text-success me-1"></i>Operation Problem Solving</p>
                            <p class="mb-2"><i class="mdi mdi-circle-medium text-success me-1"></i>Qualified Person Commitment and Technical Advising</p>
                            <p class="mb-2"><i class="mdi mdi-circle-medium text-success me-1"></i>Solution’s Financing Support and Solutions Development Funding (SDF)</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6  col-sm-8 ms-md-auto">
                   
                    <div class="mt-4 me-md-0">
                        <img src="assets/images/small/consul1.jpeg" alt="" class="img-fluid mx-auto d-block  img-bordered"
                            width="1200">
                    </div>
                   
                    
                </div>

            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center mb-5">

                    </div>
                </div>
            </div>
        </div>
    </section>

</div>


<app-footer></app-footer>