
<app-client-nav-bar></app-client-nav-bar>
<div class="form-container">
    <div class="main-title">
        <h1>Parameter List</h1>
        
      </div>
   <table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Analyte</th>
            <th scope="col">RDL</th>
            <th scope="col">Unit</th>
        </tr>
    </thead>
    <tbody>
      <tr *ngFor="let analyte of parameters; let i = index">
        <th scope="row">
            <input type="checkbox"
                   [name]="'check-' + analyte.name.toLowerCase()"
                   [value]="analyte.name"
                   (change)="toggleAnalyteSelection(analyte)">
        </th>
        <td>{{ analyte.name }}</td>
        <td>{{ analyte.rdl }}</td>
        <td>{{ analyte.unit }}</td>
    </tr>
    </tbody>
</table>
<div class="button-container">
    <button type="button" (click)="navigateToPrevious()" class="btn btn-secondary">Previous </button>
    <button type="button" (click)="submitAnalytes()" class="btn btn-primary" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">Next</button>
  </div>
</div>
