
<app-client-nav-bar></app-client-nav-bar>
   <table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Analyte</th>
            <th scope="col">RDL</th>
            <th scope="col">Unit</th>
        </tr>
    </thead>
    <tbody>
      <tr *ngFor="let analyte of analytesList; let i = index">
        <th scope="row">
            <input type="checkbox"
                   [name]="'check-' + analyte.name.toLowerCase()"
                   [value]="analyte.name"
                   (change)="toggleAnalyteSelection(analyte)">
        </th>
        <td>{{ analyte.name }}</td>
        <td>{{ analyte.rdl }}</td>
        <td>{{ analyte.unit }}</td>
    </tr>
    </tbody>
</table>
<button type="button" class="btn btn-primary" (click)="submitAnalytes()">Submit</button>

