<div class="account-pages my-5 pt-sm-5">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6 col-xl-5">
          <div class="card overflow-hidden">
            <div class="card-body pt-0">
              <div class="p-2">
                <h3 class="text-center mt-4 mb-4">Réinitialisation du mot de passe</h3>
                <form class="form-horizontal" [formGroup]="resetPasswordForm" (ngSubmit)="onResetPassword()">
                  <div class="mb-3">
                    <label for="newPassword" class="form-label">Nouveau Mot de Passe</label>
                    <input type="password" class="form-control" id="newPassword" placeholder="Entrez le nouveau mot de passe" formControlName="newPassword" required>
                  </div>
                  <div class="mb-3">
                    <label for="newPassword" class="form-label">Conferme nouveau Mot de Passe</label>
                    <input type="password" class="form-control" id="CnewPassword" placeholder="Entrez le nouveau mot de passe" formControlName="CnewPassword" required>
                  </div>
                  <div class="mt-3 d-grid">
                    <button class="btn btn-success" type="submit">Réinitialiser le mot de passe</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end container -->
  </div>
  
