<app-client-nav-bar></app-client-nav-bar>
<div id="table-to-pdf" class="card-container">
  <div class="card-header">
    LISTE DES RÉSULTATS (accessible à NYSTAR LANGLOIS)
  </div>
<div class="demande-client-table">
  <!-- Button container for left-aligned buttons -->
  <div class="content-container">
    <div class="button-container">
      
      <button class="table-button download-button" (click)="saveAsPdf()">Télécharger documents  '''</button>
    </div>
  
    <div class="icon-legend-container">
      <div class="icon-legend">
        <p><span class="icon green">✔️</span> Demande d'analyse transmise et en attente d'acceptation</p>
        <p><span class="icon yellow">❗</span> Résultats partiels</p>
        <p><span class="icon red">✖️</span> Échantillon rejeté</p>
        <p><span class="icon blue">⚠️</span> Dépassement de norme</p>
      </div>
      <div class="icon-legend">
        <p><span class="icon gray">🔬</span> Reçu au laboratoire, en cours d'analyse</p>
        <p><span class="icon green">✔️✔️</span> Résultats complétés</p>
        <p><span class="icon red">❗❗</span> Non-Potable</p>
      </div>
    </div>
  </div>
  <table>
    <thead>
      <tr>
        <th>ID</th>
          <th>Demande Pour</th>
          <th>Envoyé Au Laboratoire</th>
          <th>Courriels Supplémentaires</th>
          <th>Bon De Commande</th>
          <th>Langue Du Certificat</th>
          <th>Commentaires Internes</th>
          <th>etat</th>
          <th>Actions</th>
      <!-- <tr> 
        <th></th>
        
        <th><input type="text" placeholder="Filter Bon de commande" /></th>
        
        <th><input type="text" placeholder="Filter Numéro d'échantillon" /></th>
        <th><input type="text" placeholder="Filter Nom de l'échantillon" /></th>
        <th><input type="text" placeholder="Filter Nom du préleveur" /></th>
        <th><input type="text" placeholder="Filter Nom du projet" /></th>
        <th><input type="text" placeholder="Filter Type d'échantillon" /></th>
        <th><input type="text" placeholder="Filter Lieu de prélèvement" /></th>
        <th><input type="text" placeholder="Filter Type de prélèvement" /></th>
        <th><input type="text" placeholder="Filter Date de fin de prélèvement" /></th>
        <th><input type="text" placeholder="Filter Date de dernière modification" /></th>
        <th><input type="text" placeholder="Filter Nom du réseau" /></th>
        <th><input type="text" placeholder="Filter Statut" /></th>
        <th>
          <button class="btn-search">Recherche</button><br>
          <button class="btn-reset">Réinitialiser</button>
        </th>
      </tr> -->
        <tr *ngFor="let demande of demandes; let i = index">
          <td>{{ demande.demandeId }}</td>
          <td>{{ demande.demandePour }}</td>
          <td>{{ demande.envoyeAuLaboratoire }}</td>
          <td>{{ demande.courrielsSupplementaires }}</td>
          <td>{{ demande.bonDeCommande }}</td>
          <td>{{ demande.langueDuCertificat }}</td>
          <td>{{ demande.commentairesInternes }}</td>
          <td [ngSwitch]="demande.etat">
            <span *ngSwitchCase="'Demande en attente'">✔️ </span>
            <span *ngSwitchCase="'Resultats partiels'">❗ </span>
            <span *ngSwitchCase="'Echantillon rejeté'">✖️ </span>
            <span *ngSwitchCase="'Depassement de norme'">⚠️ </span>
            <span *ngSwitchCase="'En cours d`analyse'">🔬 </span>
            <span *ngSwitchCase="'Résultats complétés'">✔️ </span>
            <span *ngSwitchCase="'Non-Potable'">❗❗ </span>
            <span *ngSwitchDefault>Unknown Status</span>
          </td>
          
          <td>
            <!-- Buttons for actions such as edit, delete, etc. -->
            <button class="btn-edit" (click)="details(demande.demandeId)">Details</button>
          </td>
      </tr>
    </thead>
    <tbody>
      <!-- Sample row -->
      <!-- <tr *ngFor="let demande of demandes; let i = index">
        <td>{{ demande.demandeId }}</td>
        <td>{{ demande.demandePour }}</td>
        <td>{{ demande.envoyeAuLaboratoire }}</td>
        <td>{{ demande.courrielsSupplementaires }}</td>
        <td>{{ demande.bonDeCommande }}</td>
        <td>{{ demande.langueDuCertificat }}</td>
        <td>{{ demande.commentairesInternes }}</td>
        <td> -->
          <!-- Buttons for actions such as edit, delete, etc. -->
          <!-- <button class="btn-edit">Modifier</button>
          <button class="btn-delete">Supprimer</button>
        </td>
      </tr> -->
    </tbody>
  </table>
</div>

</div>