<app-navbar></app-navbar>
<br><br><br>

<div>
    <section class="section" id="propos" style="height: 40vh;">
        <img src="assets/images/small/gold.jpeg" alt="Image de fond" class="full-width" />
        <div class="container">
            <div class="row ">

                <h1 class=" titre text-center"> Hydromet Testing </h1>

            </div>
        </div>
    </section>

    <section  class="section pt-4 bg-white">
        <div class="container">
            <div class="row align-items-center mt-5 pt-md-5">
                <div class="col-md-6">
                    <div class="mt-4 mt-md-0">
                        <div class="d-flex align-items-center mb-2">
                            <h1> Hydromet Testing</h1>
                        </div>
                        <p class="text-muted"> IGS team is well experienced in hydrometallurgical testing and process development, being actively involved in many related R&D projects.  Hydrometallurgical lab scale testing involving all mineral acids and bases includes:</p>

                        <div class="text-muted mt-4">
                            <p class="mb-2"><i class="mdi mdi-circle-medium text-success me-1"></i>Acid leaching</p>
                            <p class="mb-2"><i class="mdi mdi-circle-medium text-success me-1"></i>Fusion and calcine leach</p>
                            <p class="mb-2"><i class="mdi mdi-circle-medium text-success me-1"></i>IX/SX separation</p>
                            <p class="mb-2"><i class="mdi mdi-circle-medium text-success me-1"></i>Purification steps</p>
                            <p class="mb-2"><i class="mdi mdi-circle-medium text-success me-1"></i>Chlorination</p>
                            <p class="mb-2"><i class="mdi mdi-circle-medium text-success me-1"></i>Fractional distillation</p>
                            <p class="mb-2"><i class="mdi mdi-circle-medium text-success me-1"></i>Ultrasound assisted leaching</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6  col-sm-8 ms-md-auto">
                   
                    <div class="card">

                        <div class="card-body">
                          <!-- Crossfade carousel -->
                          <ngb-carousel [showNavigationIndicators]="showNavigationIndicators">
                            <ng-template ngbSlide>
                              <img src="assets/images/small/h.jpg" alt="first slide" class="animated fadeIn d-block img-fluid img-bordered" width="1500">
                            </ng-template>
                            <ng-template ngbSlide>
                              <img src="assets/images/small/h2.jpg" alt="second slide" class="animated fadeIn d-block img-fluid img-bordered">
                            </ng-template>
                            <ng-template ngbSlide>
                              <img src="assets/images/small/h3.jpg" alt="third slide" class="animated fadeIn d-block img-fluid img-bordered">
                            </ng-template>
                          </ngb-carousel>
                          <!-- End Crossfade carousel -->
                        </div>
                      </div>
                   
                    
                </div>

            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center mb-5">

                    </div>
                </div>
            </div>
        </div>
    </section>

</div>


<app-footer></app-footer>