<app-navbar></app-navbar>
<br><br><br>

<div>
    <section class="section" id="propos" style="height: 40vh;">
        <img src="assets/images/small/gold.jpeg" alt="Image de fond" class="full-width" />
        <div class="container">
            <div class="row ">

                <h1 class=" titre text-center"> Sample Preparation </h1>

            </div>
        </div>
    </section>

    <section  class="section pt-4 bg-white">
        <div class="container">
            <div class="row align-items-center mt-5 pt-md-5">
                <div class="col-md-6">
                    <div class="mt-4 mt-md-0">
                        <div class="d-flex align-items-center mb-2">
                            <h1>Sample Preparation </h1>
                        </div>
                        <p class="text-muted"> IGS offer diligent material handling and sample preparation at the early step of the analytical services chain comrising : Crushing, splitting, homogemisation and pulverizing of samples. </p>
                        <br>
                        <p class="text-muted"> IGS uses the needed equipment and procedures to avoid issues with sample segregation, contamination and tracability.     </p>
                    </div>
                </div>
                <div class="col-md-6  col-sm-8 ms-md-auto">
                   
                    <div class="card">

                        <div class="card-body">
                          <!-- Crossfade carousel -->
                          <ngb-carousel [showNavigationIndicators]="showNavigationIndicators">                   
                            <ng-template ngbSlide>
                              <img src="assets/images/small/prepa2.jpg" alt="second slide" class="animated fadeIn d-block img-fluid img-bordered">
                            </ng-template>
                            <ng-template ngbSlide>
                              <img src="assets/images/small/prepa3.jpg" alt="third slide" class="animated fadeIn d-block img-fluid img-bordered">
                            </ng-template>
                            <ng-template ngbSlide>
                                <img src="assets/images/small/prepa4.jpg" alt="third slide" class="animated fadeIn d-block img-fluid img-bordered">
                              </ng-template>
                          </ngb-carousel>
                          <!-- End Crossfade carousel -->
                        </div>
                      </div>
                   
                    
                </div>

            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center mb-5">

                    </div>
                </div>
            </div>
        </div>
    </section>

</div>


<app-footer></app-footer>