<app-navbar></app-navbar>
<br><br><br>

<div>
    <section class="section" id="propos" style="height: 40vh;">
        <img src="assets/images/small/gold.jpeg" alt="Image de fond" class="full-width" />
        <div class="container">
            <div class="row ">

                <h1 class=" titre text-center"> Gold & PM Assaying </h1>

            </div>
        </div>
    </section>

    <section  class="section pt-4 bg-white">
        <div class="container">
            <div class="row align-items-center mt-5 pt-md-5">
                <div class="col-md-6">
                    <div class="mt-4 mt-md-0">
                        <div class="d-flex align-items-center mb-2">
                            <h1>Gold & PM Assaying </h1>
                        </div>
                        <p class="text-muted"> Gold & PM Assaying encompasses a series of crucial steps for the accurate analysis of precious metals like gold. Initially, samples are subjected to fusion and cupellation processes, which involve melting and separating the metal from impurities. Following this, digestion and dilution techniques are utilized to prepare the metals for analysis. Atomic Absorption methods are then employed to detect and measure the presence of gold and other metals with precision. Furthermore, the samples undergo separation via sieves before undergoing fire assay to determine the gold content accurately. These meticulous procedures ensure thorough assessment and quantification of precious metals for a variety of purposes.</p>

                        <div class="text-muted mt-4">
                            <p class="mb-2"><i class="mdi mdi-circle-medium text-success me-1"></i>Fusion, and Cupellation of Samples</p>
                            <p class="mb-2"><i class="mdi mdi-circle-medium text-success me-1"></i>Digestion and dilution of metals</p>
                            <p class="mb-2"><i class="mdi mdi-circle-medium text-success me-1"></i>Detection of gold and metals by Atomic Absorption</p>
                            <p class="mb-2"><i class="mdi mdi-circle-medium text-success me-1"></i>Separation by sieves followed by fire assay of samples and determination of gold</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6  col-sm-8 ms-md-auto">
                   
                    <div class="card">

                        <div class="card-body">
                          <!-- Crossfade carousel -->
                          <ngb-carousel [showNavigationIndicators]="showNavigationIndicators">
                            <ng-template ngbSlide>
                              <img src="assets/images/small/gol1.jpg" alt="first slide" class="animated fadeIn d-block img-fluid img-bordered">
                            </ng-template>
                            <ng-template ngbSlide>
                              <img src="assets/images/small/gol2.jpg" alt="second slide" class="animated fadeIn d-block img-fluid img-bordered">
                            </ng-template>
                            <ng-template ngbSlide>
                              <img src="assets/images/small/gol3.jpg" alt="third slide" class="animated fadeIn d-block img-fluid img-bordered">
                            </ng-template>
                          </ngb-carousel>
                          <!-- End Crossfade carousel -->
                        </div>
                      </div>
                   
                    
                </div>

            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center mb-5">

                    </div>
                </div>
            </div>
        </div>
    </section>

</div>


<app-footer></app-footer>