<app-navbar></app-navbar>
<br><br><br>

<div>
    <section class="section" id="propos" style="height: 40vh;">
        <img src="assets/images/small/p.jpeg" alt="Image de fond" class="full-width" />
        <div class="container">
            <div class="row ">

                <h1 class=" titre text-center"> Multi-Element Assaying & ICP-AES Testing </h1>

            </div>
        </div>
    </section>

    <section  class="section pt-4 bg-white">
        <div class="container">
            <div class="row align-items-center mt-5 pt-md-5">
                <div class="col-md-6">
                    <div class="mt-4 mt-md-0">
                        <div class="d-flex align-items-center mb-2">
                            <h1>Multi-Element Assaying </h1>
                        </div>
                        <div class="text-muted mt-4">
                            <p class="mb-2"><i class="mdi mdi-circle-medium text-success me-1"></i>Fusion, and Cupellation of Samples</p>
                            <p class="mb-2"><i class="mdi mdi-circle-medium text-success me-1"></i>Digestion and dilution of metals</p>
                            <p class="mb-2"><i class="mdi mdi-circle-medium text-success me-1"></i>Detection of gold and metals by Atomic Absorption</p>
                            <p class="mb-2"><i class="mdi mdi-circle-medium text-success me-1"></i>Separation by sieves followed by fire assay of samples and determination of gold</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6  col-sm-8 ms-md-auto">
                   
                    <div class="card">

                        <div class="card-body">
                          <!-- Crossfade carousel -->
                          <ngb-carousel [showNavigationIndicators]="showNavigationIndicators">
                            <ng-template ngbSlide>
                              <img src="assets/images/small/test2.jpg" alt="first slide" class="animated fadeIn d-block img-fluid img-bordered">
                            </ng-template>
                            <ng-template ngbSlide>
                              <img src="assets/images/small/test3.png" alt="second slide" class="animated fadeIn d-block img-fluid img-bordered" width="500">
                            </ng-template>
                           
                          </ngb-carousel>
                          <!-- End Crossfade carousel -->
                        </div>
                      </div>             
                </div>
            </div>
        </div>
    </section>

    <section  class="section pt-4 bg-white">
        <div class="container">
            <div class="row align-items-center mt-5 pt-md-5">
                <div class="col-md-6  col-sm-8 ms-md-auto">
                    <div class="card">
                        <div class="card-body">
                          <!-- Crossfade carousel -->
                          <ngb-carousel [showNavigationIndicators]="showNavigationIndicators">
                            <ng-template ngbSlide>
                              <img src="assets/images/small/t1.jpg" alt="first slide" class="animated fadeIn d-block img-fluid img-bordered">
                            </ng-template>
                            <ng-template ngbSlide>
                              <img src="assets/images/small/t2.jpg" alt="second slide" class="animated fadeIn d-block img-fluid img-bordered" width="500">
                            </ng-template>
                          </ngb-carousel>
                          <!-- End Crossfade carousel -->
                        </div>
                      </div> 
                </div>
                <div class="col-md-6">
                    <div class="mt-4 mt-md-0">
                        <div class="d-flex align-items-center mb-2">
                            <h1>ICP-AES Testing</h1>
                        </div>
                        <p class="text-muted"> Inductively Coupled Plasma Atomic Emission Spectroscopy (ICP-AES) is a technique that detects the atomic emissions produced as light to determine concentrations of trace to major elements and can detect most elements in the periodic table. Reliable results can be obtained for about 70 elements with detection limits in the parts per billion range.</p>
                        <br>
                        <p class="text-muted"> ICP Analysis is performed to identify and measure a range of chemical elements necessary for the analysis of mineral and metal samples. This ICP test methods can be performed on solid or liquid samples, offering quantitative and qualitative data that can be included in an ICP test report.</p>
                        <br>
                        <p class="text-muted"> IGS is equipped with the lates trend of ICP-AES (Avio 500), the latest technology for major, minor and trace element analysis.</p>
                        <br>
                        <p class="text-muted"> IGS offers ICP analysis services and can determine up to 70 elements using the latest technology in spectrometers. Trace unknowns can be detected and identified. In addition, ICP analysis can reveal several non-metals.</p>

                        <br>
                        <p class="text-muted"> When we are asked to analyze target elements of a sample matrix, other elements in the sample may interfere.  IGS team has developed significant expertise in the matter and can take precautions to prevent and correct interferences when they know the approximate composition in advance.</p>

                        <br>
                        <p class="text-muted"> ICP metal analysis can be performed on solid and liquid samples, but a solid sample must be converted to liquid form before testing by directly (or after specific fusion) dissolving the sample in a solvent (typically acid) to produce a solution. The sample solution is introduced into the ICP as a fine aerosol of droplets. The aerosol is produced by a nebulizer which aspirates the sample with high velocity argon to form a fine mist.</p>

                        <br>
                        <p class="text-muted"> The aerosol then passes into a spray chamber where larger droplets are removed. Droplets small enough to be vaporized in the plasma torch pass into the torch body, where the aerosol is mixed with more argon gas. ICP stands for Inductively Coupled Plasma, which is an excitation source generated by directing the energy of a radio frequency generator into a suitable gas. A coupling coil is used to transmit radio frequency to the heated argon gas, producing an argon plasma located in the torch. The hot plasma dries any remaining solvent and causes sample atomization.</p>

                        <br>
                        <p class="text-muted"> <span>Contact our team</span>  to discuss your sample and assaying requirements.</p>
                        
                    </div>
                </div>
              
            </div>
        </div>
    </section>

</div>


<app-footer></app-footer>