<app-navbar></app-navbar>
<br><br><br>

<div>
    <section class="section" id="propos" style="height: 40vh;">
        <img src="assets/images/small/solution.jpeg" alt="Image de fond" class="full-width" />
        <div class="container">
            <div class="row ">

                <h1 class=" titre text-center"> Environmental Solutions </h1>

            </div>
        </div>
    </section>


    <section   class="section pt-4 bg-white" >
        <div class="container">
            <div class="row align-items-center mt-5 pt-md-5">
                <div class="col-md-6">
                    <div class="mt-4 mt-md-0">
                        <div class="d-flex align-items-center mb-2">
                            <h1>Environmental Solutions </h1>
                        </div>
                        <p > IGS Environment Group provides specific consulting services and support to the Environment sectors, delivering solutions in all steps of industrial project development.  Our team is willing to bring to your project and operations knowledge, know-how and solutions to allow you to mitigate environment concerns:</p>

                        <div >
                            <p class="mb-2"><i class="mdi mdi-circle-medium text-success me-1"></i>Industrial emissions mitigation</p>
                            <p class="mb-2"><i class="mdi mdi-circle-medium text-success me-1"></i>Tailings management expertise</p>
                            <p class="mb-2"><i class="mdi mdi-circle-medium text-success me-1"></i>Soil decontamination, water treatment, recycling</p>
                            <p class="mb-2"><i class="mdi mdi-circle-medium text-success me-1"></i>NORMS mapping</p>
                            <p class="mb-2"><i class="mdi mdi-circle-medium text-success me-1"></i>Best practices advising</p>
                            <p class="mb-2"><i class="mdi mdi-circle-medium text-success me-1"></i>Consumable recycling, management and recovery</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6  col-sm-8 ms-md-auto">
                    
                    <div class="mt-4 me-md-0 ">
                        <img src="assets/images/small/solution.jpeg" alt="" class="img-fluid mx-auto d-block  img-bordered"
                            width="1200">
                    </div>
                   
                    
                </div>

            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center mb-5">

                    </div>
                </div>
            </div>
        </div>
    </section>

   

</div>


<app-footer></app-footer>