<app-navbar></app-navbar>
<br><br><br>

<div>
    <section class="section" id="propos" style="height: 40vh;">
        <img src="assets/images/small/sp1.jpg" alt="Image de fond" class="full-width" />
        <div class="container">
            <div class="row ">
                <h1 class=" titre text-center">  
                    Magnetic and Electrostatic Separation </h1>
            </div>
        </div>
    </section>


    <section class="section pt-4 bg-white">
        <div class="container">
            <div class="row align-items-center mt-5 pt-md-5">
                <div class="col-md-5">
                    <div class="mt-4 mt-md-0">
                        <div class="d-flex align-items-center mb-2">
                            <h1>
                                Magnetic and Electrostatic Separation</h1>
                        </div>
                        <br>
                        <p class="text-muted"> IGS offers flowsheet development for iron, titaniferrous and industrial ores such as gold, chromite and tungsten using our magnetic and electrostatic separation instruments. The field strength of our magnetic separation go upto 20000 Gauss. Our equipment includes:</p>

                        <div class="text-muted mt-4">
                            <p class="mb-2"><i class="mdi mdi-circle-medium text-success me-1"></i>Davis Tube</p>
                            <p class="mb-2"><i class="mdi mdi-circle-medium text-success me-1"></i>Wet, High Intensity Magnetic Separator</p>
                            <p class="mb-2"><i class="mdi mdi-circle-medium text-success me-1"></i>Dry Roll Magnetic Separator</p>
                            <p class="mb-2"><i class="mdi mdi-circle-medium text-success me-1"></i>Electrostatic Separator</p>
                            <p class="mb-2"><i class="mdi mdi-circle-medium text-success me-1"></i>Thermal energy, energy conversion, biofuels</p>
                        </div>
                        <br>
                        <p class="text-muted">We also provide diagnostics and process establishment assistance for your current project.</p>

                  
                    </div>
                </div>
                <div class="col-md-6  col-sm-8 ms-md-auto">
                   
                    <div class="card">

                        <div class="card-body">
                          <!-- Crossfade carousel -->
                          <ngb-carousel [showNavigationIndicators]="showNavigationIndicators">
                            <ng-template ngbSlide>
                              <img src="assets/images/small/ms1.jpg" alt="first slide" class="animated fadeIn d-block img-fluid img-bordered" width="500"  >
                            </ng-template>
                            <ng-template ngbSlide>
                              <img src="assets/images/small/ms2.jpg" alt="second slide" class="animated fadeIn d-block img-fluid img-bordered" width="500">
                            </ng-template>
                            <ng-template ngbSlide>
                              <img src="assets/images/small/ms3.jpg" alt="third slide" class="animated fadeIn d-block img-fluid img-bordered" width="500" >
                            </ng-template>
                            <ng-template ngbSlide>
                                <img src="assets/images/small/ms4.jpg" alt="third slide" class="animated fadeIn d-block img-fluid img-bordered" width="500">
                              </ng-template>
                          </ngb-carousel>
                          <!-- End Crossfade carousel -->
                        </div>
                      </div>
                   
                    
                </div>

            </div>
        </div>
        <div class="container"> 
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center mb-5">

                    </div>
                </div>
            </div>
        </div>
    </section>
    


</div>


<app-footer></app-footer>