<app-client-nav-bar></app-client-nav-bar>
<div class="card-container">
  <div class="card-header">
    RECENT RESULTS
  </div>
  <div class="demande-client-table">
    <div class="content-container">
      <div class="button-container">
        <button class="table-button">Show/hide columns</button>
      </div>
    </div>
    <div class="table-responsive"> 
      <table>
        <thead>
          <tr>
            <th>Sample number</th>
            <th>Sample Name</th>
            <th>Back</th>
            <th>Arrange</th>
            <th>Sample type</th>
            <th>Collection location</th>
            <th>Return address</th>
            <th>Priority</th>
            <th>Collection start date</th>
            <th>Details</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let echantillon of echantillons; let i = index">
            <tr>
              <td>{{ echantillon.echantillonId }}</td>
              <td>{{ echantillon.nomEchantillon }}</td>
              <td>{{ echantillon.returns }}</td>
              <td>{{ echantillon.disposes }}</td>
              <td>{{ echantillon.typeEchantillon }}</td>
              <td>{{ echantillon.lieuPrelevement }}</td>
              <td>{{ echantillon.addressRetourner }}</td>
              <td>{{ echantillon.priorite }}</td>
              <td>{{ echantillon.dateFinPrelevement }}</td>
              <td>
                <button (click)="toggleDetail(echantillon)">Details</button>
              </td>
            </tr>
            <tr *ngIf="echantillon.showDetails">
              <td colspan="10">
                <table>
                  <h4>List of Parameters</h4>
                 <tr colspan="10">
                  <th>Name</th>
                  <th>RDL</th>
                  <th>Unit</th>
                 </tr> 
                  <tr *ngFor="let param of echantillon.parameters">
                    <td>{{ param.name }}</td>
                    <td>{{ param.rdl }} </td>
                    <td>{{ param.unit }}</td>
                  </tr>
                </table>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
</div>
