.landing-footer {
    padding-top: 80px; /* Maintains larger padding */
    padding-bottom: 80px;
    background-color: #20232a; /* Dark grey background */
    color: #adb5bd; /* Greyish text color for good contrast */
    font-family: 'Helvetica Neue', Arial, sans-serif; /* Clean, modern font */
}

.footer-section {
    display: flex;
    justify-content: space-between;
    align-items: start;
    text-align: left;
}

.footer-brand, .footer-links, .footer-contact {
    flex: 1;
}

.footer-brand p:first-child {
    font-size: 24px; /* Increased size for the first paragraph */
    color: #ffffff; /* White color for the main title */
    margin-bottom: 10px; /* Adjusted spacing */
}

.footer-brand p {
    font-size: 18px; /* Increased text size for additional descriptions */
    margin-bottom: 20px; /* Spacing below the paragraph */
}

.social-link {
    color: #adb5bd; /* Sets the icon color similar to other text */
    font-size: 28px; /* Larger icon size for better visibility */
    display: inline-block; /* Keeps the link inline */
    transition: color 0.3s; /* Smooth transition for color change */
}

.social-link:hover {
    color: #fff; /* Changes color to white on hover */
}

.footer-links h4 {
    font-size: 20px; /* Larger font size for headings */
    color: #fff; /* White color for headings */
    margin-bottom: 15px; /* Space below headings */
}

.footer-links ul {
    list-style: none; /* No bullet points */
    padding: 0; /* No padding */
}

.footer-links ul li a {
    font-size: 16px; /* Increased font size for links */
    color: #adb5bd; /* Link color */
    text-decoration: none; /* No underline */
    display: block; /* Makes links block to increase clickable area */
    padding: 5px 0; /* Increased padding for better clickability */
    transition: color 0.3s; /* Smooth color transition on hover */
}

.footer-links ul li a:hover {
    color: #fff; /* White color on hover */
}

.footer-contact h4 {
    font-size: 20px; /* Larger font size for contact heading */
}

.footer-contact p, .footer-contact i {
    font-size: 16px; /* Larger font size for contact info */
    margin-right: 10px; /* Space after the icon */
    display: inline-block; /* Inline display for alignment */
}

.footer-contact i {
    margin-right: 5px; /* Space after the icon, adjusted */
}

.footer-contact i:hover {
    color: #1397a6; /* Hover effect for icons */
}
