<footer class="landing-footer">
    <div class="container">


        <hr class="footer-border my-5">
        <div class="row">
            <div class="col-lg-6">
                <div class="mb-4">
                    <img src="assets/images/small/logo.jpg" alt="" height="100" class="img-bordered" >
                </div>

                <p class="mb-2">Copyright 2024 © Impact Global Solutions.</p>
            </div>
            <div class="col-lg-6 col-sm-6">
                <div class="mb-4 mb-lg-0">
                    <h5 class="mb-3 footer-list-title">Address : </h5>
                    <div class="blog-post">
                        <a href="javascript: void(0);" class="post">
                            <h5 class="post-title">70 Goodfellow,Delson, QC, Canada J5B 1V4 |+1 450-993-0577</h5>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>