<footer class="landing-footer">
    <div class="container">
        <hr class="footer-border my-5">
        <div class="row">
            <div class="col-lg-6">
                <div class="mb-4">
                    <img src="assets/images/small/logo.jpg" alt="Company Logo" height="100" class="img-bordered">
                </div>
                <p class="mb-2">Copyright © 2024 Impact Global Solutions.</p>
            </div>
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-header">
                        Company Location
                    </div>
                    <iframe
                        class="card-map"
                        frameborder="0" style="border:0"
                        src="https://maps.google.com/maps?q=45.36105684619159,-73.5365741576717&hl=en&z=14&amp;output=embed"
                        allowfullscreen>
                    </iframe>
                    <div class="card-footer">
                        70 Goodfellow, Delson, QC, Canada
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
