.request-summary {
  font-family: 'Arial', sans-serif;
  padding: 20px;
  background: #fff;

  h1 {
    font-size: 24px;
    margin-bottom: 15px;
  }

  .header-details {
    display: flex;
    flex-wrap: wrap; // Allows details to wrap on smaller screens
    justify-content: space-between; // Spreads items evenly
    margin-bottom: 20px; // Adds some space below the section
    padding: 10px;
    background-color: #f9f9f9; // Light background to distinguish section
    border-radius: 8px; // Rounded corners
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); // Adds subtle shadow
  }

  .detail {
    display: flex;
    flex-basis: calc(50% - 10px); // Splits in two columns, adjusting for gap
    align-items: center; // Vertically centers the label and value
    margin: 5px 0; // Adds vertical margin for spacing between details
  }

  .label {
    font-weight: bold;
    margin-right: 10px; // Space between label and value
    white-space: nowrap; // Ensures label does not wrap
    color: #333; // Dark color for better readability
  }

  .value {
    font-weight: normal;
    color: #666; // Slightly lighter than the label for contrast
  }

  .sample-table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
  }
  
  .sample-table th, .sample-table td {
    padding: 8px 16px;
    border-right: 1px solid #dee2e6;
    border-bottom: 2px solid #dee2e6;
  }
  
  .sample-table th {
    background-color: #f8f9fa;
    color: #333;
    font-size: 14px;
    white-space: nowrap;
    font-weight: bold;
  }
  
  .sample-table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .sample-table tr:nth-child(odd) {
    background-color: #ffffff;
  }
  

  .parameters-details {
    background: #f9f9f9;
    padding: 10px;
    border: 1px solid #ddd;
    margin-top: 20px;
  }
  
  .parameters-details h2 {
    padding: 10px 0;
    text-align: center;
    background: #fff;
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;
  }
  
  .parameters-table {
    width: 100%;
    border-collapse: collapse;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
  }
  
  .parameters-table th, .parameters-table td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: left;
  }
  
  .parameters-table th {
    background-color: #f8f9fa;
    color: #333;
    font-weight: bold;
  }
  
  .parameters-table tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
  }
  
  .parameters-table tbody tr:nth-child(even) {
    background-color: #ffffff;
  }
  

  .form-actions {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;

    button {
      padding: 10px 20px;
      border: none;
      border-radius: 4px;
      font-weight: bold;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &.cancel-button {
        background-color: #ccc;
        color: #333;

        &:hover {
          background-color: #bbb;
        }
      }

      &.submit-button {
        background-color: #4CAF50;
        color: white;

        &:hover {
          background-color: #449d48;
        }
      }
    }
  }

  .card-container {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    width: 95%;
    overflow: hidden;
  }

  .card-header {
    background-color: #007bff;
    color: #ffffff;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  .card-content {
    padding: 20px;
  }
}