<app-navbar></app-navbar>
<br>

<div>
    <section class="section" id="propos" style="height: 60vh;">
        <img src="assets/images/small/energy1.jpeg" alt="Image de fond" class="full-width" />
        <div class="container">
            <div class="row">
                <h1 class="titre text-center"> Energy Solutions </h1>
            </div>
        </div>
    </section>
    <section class="section" id="propos" style="height: 60vh;">
        <div class="container centered-text">
            <h1>Discutons ensemble pour optimiser vos résultats !</h1>
            <p>Notre équipe est orientée solutions</p>
            <p>IGS offre aux sociétés minières une gamme de services spécialisés et d’expertises de recherche, afin d’optimiser et développer les procédés clés de traitement de minerais. Choisir IGS, c’est choisir plus de 20 ans d’innovation !</p>
            <p>Contactez-nous pour discuter de vos enjeux et nous vous proposerons des solutions.</p>
        </div>
    </section>
    <section id="contact-us" class="section bg-light">
        <div class="cards-container">
            <div class="card-style">
                <div class="icon-container">
                    <i class="icon fa fa-phone"></i>
                </div>
                <div class="card-text">
                    <strong>Appelez-nous !</strong><br>
                    +1 418-527-8211
                </div>
            </div>
            <div class="card-style">
                <div class="icon-container">
                    <i class="icon fa fa-envelope"></i>
                </div>
                <div class="card-text">
                    <strong>Écrivez-nous !</strong><br>
                    info@corem.qc.ca
                </div>
            </div>
        </div>
    </section>
    <section id="map-section" class="section">
        <div class="card">
            <iframe class="card-map"
                    frameborder="0" style="border:0"
                    src="https://maps.google.com/maps?q=45.36105684619159,-73.5365741576717&hl=en&z=14&amp;output=embed"
                    allowfullscreen>
            </iframe>
            <div class="card-footer">
                70 Goodfellow, Delson, QC, Canada
            </div>
        </div>
    </section>
    <section id="contact-us" class="section bg-light">
        <div class="card">
            <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
                <h5 class="text-center mt-4">Contactez-nous</h5>
                <div class="row p-4">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="name">Votre Nom</label>
                            <input type="text" id="name" class="form-control" formControlName="name" placeholder="Votre Nom" required>
                        </div>
                        <div class="mb-3">
                            <label for="email">Votre Email</label>
                            <input type="email" id="email" class="form-control" formControlName="email" placeholder="Votre Email" required>
                        </div>
                        <div class="mb-3">
                            <label for="issueDescription">Décrivez le Problème</label>
                            <textarea id="issueDescription" class="form-control" formControlName="issueDescription" rows="4" placeholder="Décrivez le Problème" required></textarea>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="company">Votre Entreprise</label>
                            <input type="text" id="company" class="form-control" formControlName="company" placeholder="Votre Entreprise">
                        </div>
                        <div class="mb-3">
                            <label for="dateOfComplaint">Date de la Réclamation</label>
                            <input type="date" id="dateOfComplaint" class="form-control" formControlName="dateOfComplaint" required>
                        </div>
                        <div class="mb-3">
                            <label for="contactPerson">Personne de Contact</label>
                            <textarea id="contactPerson" class="form-control" formControlName="contactPerson" rows="4" placeholder="Personne de Contact"></textarea>
                        </div>
                    </div>
                    <div class="col-12 text-center">
                        <button type="submit" class="btn btn-primary">Envoyer</button>
                    </div>
                </div>
            </form>
        </div>
    </section>
</div>
<app-footer></app-footer>
