.full-width {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container {
    width: 90%;
    max-width: 1200px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    box-sizing: border-box;
    margin: 20px auto;
}

.card {
    padding: 30px;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px; /* Adjusted margin */
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
    padding: 12px 40px;
    font-size: 1rem;
    border-radius: 5px;
    transition: background-color 0.3s, border-color 0.3s;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    width: 100%;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

h5 {
    font-size: 2rem;
    color: #007bff;
    margin: 40px 0 20px;
    font-weight: bold;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    color: #333;
    font-weight: 600;
    font-size: 1rem;
}

input[type="text"],
input[type="email"],
input[type="date"],
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    background-color: #ffffff;
    margin-top: 5px;
    margin-bottom: 20px;
    transition: border-color 0.3s, background-color 0.3s;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="date"]:focus,
textarea:focus {
    border-color: #007bff;
    background-color: #e9f5ff;
    outline: none;
}

textarea {
    height: 150px;
}

@media (max-width: 768px) {
    .container, .btn-primary {
        padding: 15px;
    }
}

.titre {
    font-size: 3rem;
    color: #fff;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
    font-weight: bold;
    margin-top: 15vh;
    position: relative;
    z-index: 2;
    animation: fadeInUp 1s ease-out forwards;
    border-bottom: 2px solid #ffd700;
    padding-bottom: 10px;
}

@keyframes fadeInUp {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@media (max-width: 768px) {
    .titre {
        font-size: 1.5rem;
        padding: 0 10px;
    }
}

.cards-container {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.card-style {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 15px;
    width: 48%;
}

.icon-container {
    width: 50px;
    height: 50px;
    background-color: #007bff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.icon {
    color: white;
    font-size: 24px;
}

.card-text {
    font-size: 1rem;
    color: #333;
}

@media (max-width: 768px) {
    .cards-container {
        flex-direction: column;
    }

    .card-style {
        width: auto;
        margin-bottom: 10px;
    }
}

.section {
    padding: 20px;
}

.card-map {
    width: 100%;
    height: 400px;
}

.card-footer {
    padding: 10px 20px;
    background-color: #f8f9fa;
    font-size: 1rem;
    text-align: center;
    color: #333;
}
