<app-navbar></app-navbar>
<br><br><br>

<div>
    <section class="section" id="propos" style="height: 40vh;">
        <img src="assets/images/small/sp1.jpg" alt="Image de fond" class="full-width" />
        <div class="container">
            <div class="row ">
                <h1 class=" titre text-center">  S/L Separation Testing </h1>
            </div>
        </div>
    </section>


    <section class="section pt-4 bg-white">
        <div class="container">
            <div class="row align-items-center mt-5 pt-md-5">
                <div class="col-md-5">
                    <div class="mt-4 mt-md-0">
                        <div class="d-flex align-items-center mb-2">
                            <h1>S/L Separation Testing</h1>
                        </div>
                        <p class="text-muted"> IGS offers static cylinder settling rate and dynamic tests for initial thickener design and sizing. Flocculant screening tests are conducted to select which flocculant is most suited for your ore type.</p>

                  
                    </div>
                </div>
                <div class="col-md-7  col-sm-8 ms-md-auto">
                   
                    <div class="mt-4 me-md-0">
                        <img src="assets/images/small/separation.png" alt="" class="img-fluid mx-auto d-block  img-bordered"
                            width="1200">
                    </div>
                   
                    
                </div>

            </div>
        </div>
        <div class="container"> 
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center mb-5">

                    </div>
                </div>
            </div>
        </div>
    </section>
    


</div>


<app-footer></app-footer>