.account-pages {
    margin-top: 50px;
  }
  
  .card {
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }
  
  .card-body {
    padding: 30px;
  }
  
  .form-label {
    font-weight: bold;
  }
  
  .form-control {
    border-radius: 5px;
  }
  
  .invalid-feedback {
    margin-top: 5px;
    color: #dc3545;
  }
  
  .btn-primary, .btn-success {
    border-radius: 5px;
  }
  
  .text-primary {
    color: #007bff !important;
  }
  
  .mt-5 {
    margin-top: 25px !important;
  }
  
  .text-center {
    text-align: center !important;
  }
  