<div class="account-pages my-5 pt-sm-5">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6 col-xl-5">
          <div class="card overflow-hidden">
            <div class="card-body pt-0">
              <div class="p-2">
                <h3 class="text-center mt-4 mb-4">Reset password</h3>
                <!-- Form to request password reset link -->
                <form class="form-horizontal" [formGroup]="requestResetForm" (ngSubmit)="onRequestReset()">
                  <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" placeholder="Enter your e-mail" formControlName="email" required>
                    <div class="invalid-feedback" *ngIf="fRequest.email.errors?.required">
                      Email is required.
                      </div>
                  </div>
                  <div class="mt-3 d-grid">
                    <button class="btn btn-primary" type="submit">Send reset link</button>
                  </div>
                </form>
                <br>
              </div>
            </div>
          </div>
          <div class="mt-5 text-center">
            <p>Do you know your password? <a routerLink="/account/login" class="fw-medium text-primary">Log in here.</a> </p>
          </div>
        </div>
      </div>
    </div>
    <!-- end container -->
  </div>
  
