<app-navbar></app-navbar>
<br><br><br>

<div>
    <section class="section" id="propos" style="height: 40vh;">
        <img src="assets/images/small/gold.jpeg" alt="Image de fond" class="full-width" />
        <div class="container">
            <div class="row ">
                <h1 class=" titre text-center">Communition Testing </h1>
            </div>
        </div>
    </section>

    <section  class="section pt-4 bg-white">
        <div class="container">
            <div class="row align-items-center mt-5 pt-md-5">
                <div class="col-md-6">
                    <div class="mt-4 mt-md-0">
                        <div class="d-flex align-items-center mb-2">
                            <h1>Gold & PM Assaying </h1>
                        </div>
                        <p class="text-muted"> IGS is currently offering key communition testing testing, needed for project studies and development cycles.  We can also work with other sub-contractors to provide the stae-of-the art testing in ore hardness and grindability assessment :</p>
                        <div class="text-muted mt-4">
                            <p class="mb-2"><i class="mdi mdi-circle-medium text-success me-1"></i>JK Drop-Weight Test (DWT)</p>
                            <p class="mb-2"><i class="mdi mdi-circle-medium text-success me-1"></i>SAG Mill Comminution Test (SMC)</p>
                            <p class="mb-2"><i class="mdi mdi-circle-medium text-success me-1"></i>Bond Ball Mill (BWI)</p>
                            <p class="mb-2"><i class="mdi mdi-circle-medium text-success me-1"></i>Bond Abrasion (Ai)</p>
                            <p class="mb-2"><i class="mdi mdi-circle-medium text-success me-1"></i>Modified Bond Comparative WI</p>
                            <p class="mb-2"><i class="mdi mdi-circle-medium text-success me-1"></i>Levin Test</p>
                            <p class="mb-2"><i class="mdi mdi-circle-medium text-success me-1"></i>Point Load</p>
                            <p class="mb-2"><i class="mdi mdi-circle-medium text-success me-1"></i>Other ancilliary comminution testing requirements such as SPI Testing</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6  col-sm-8 ms-md-auto">
                   
                    <div class="card">

                        <div class="card-body">
                          <!-- Crossfade carousel -->
                          <ngb-carousel [showNavigationIndicators]="showNavigationIndicators">
                            <ng-template ngbSlide>
                              <img src="assets/images/small/c.jpg" alt="first slide" class="animated fadeIn d-block img-fluid img-bordered">
                            </ng-template>
                            <ng-template ngbSlide>
                              <img src="assets/images/small/c1.jpg" alt="second slide" class="animated fadeIn d-block img-fluid img-bordered">
                            </ng-template>
                            <ng-template ngbSlide>
                              <img src="assets/images/small/c2.jpg" alt="third slide" class="animated fadeIn d-block img-fluid img-bordered">
                            </ng-template>
                            <ng-template ngbSlide>
                                <img src="assets/images/small/c3.jpg" alt="third slide" class="animated fadeIn d-block img-fluid img-bordered" width="500">
                              </ng-template>
                          </ngb-carousel>
                          <!-- End Crossfade carousel -->
                        </div>
                      </div>
                   
                    
                </div>

            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center mb-5">

                    </div>
                </div>
            </div>
        </div>
    </section>

</div>


<app-footer></app-footer>