<app-navbar></app-navbar>
<div >
    <section class="section hero-section bg-ico-hero" id="home">
        <div class="bg-overlay bg-info"></div>
        <div class="container">
            <div class="row ">
                <div class="col-lg-5 text-animation">
                    <div class="text-white-50">
                        <h1 class="text-white fw-semibold mb-3 hero-title">Impact Global Solutions</h1>
                        <p class="font-size-17"> <span class="igs">IGS Impact Global Solutions Inc. </span>  is a private company providing, consulting, met testing and
                            analytical services to the mining industry.  <span class="highlight">IGS is also committed to bring to fast
                            track innovative solutions to the most challenging needs,</span> aiming to be the only Canadian 
                            private company providing R&D solutions to the mining industry. We position ourselves as 
                            capable of relevant contributions to many industrial sectors, looking for doing better in an
                            ever competitive economy and fluctuating market.<span class="emphasis">We are committed to find out ways to help our clients and partners to do it better! </span> </p>
                    </div>
                </div>
                <div class="col-lg-7 ">
                    <ngb-carousel [showNavigationArrows]="showNavigationArrows"
                    [showNavigationIndicators]="showNavigationIndicators">
                    <ng-template ngbSlide>
                        <img src="assets/images/small/imghome.jpg" alt="Random first slide"  class="img-fluid img-bordered">
                    </ng-template>
                    <ng-template ngbSlide>
                        <img src="assets/images/small/img2.jpg" alt="Random third slide" class="img-fluid img-bordered"> 
                    </ng-template>
                </ngb-carousel>
                </div>
            </div>
        </div>
    </section>

    <section class="section" id="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center mb-5">
                     
                    </div>
                </div>
            </div>

            <div class="row align-items-center pt-4">
                <div class="col-md-6 col-sm-8">
                    <div>
                        <img src="assets/images/crypto/features-img/img-1.png" alt="" class="img-fluid mx-auto d-block">
                    </div>
                </div>
                <div class="col-md-5 ms-auto">
                    <div class="mt-4 mt-md-auto">
                        <div class="d-flex align-items-center mb-2">
                            <div class="features-number fw-semibold display-4 me-3">01</div>
                            <h4 class="mb-0">MATURITY</h4>
                        </div>
                        <p class="text-muted">Committed to solve and innovate, IGS is a ‘just born’ company but 
                            of experience and maturity equivalent to the sum of that of its solutions managing team,
                            We have no doubt that together we will make it!

                            think tank partners, associates and consulting and services providers.
                        </p>
                        <div class="text-muted mt-4">
                            <p class="mb-2"><i class="mdi mdi-circle-medium text-success me-1"></i>IGS is a 'just born' company, but with experience and maturity equivalent to the sum of its solutions management team.</p>
                            <p><i class="mdi mdi-circle-medium text-success me-1"></i>We have no doubt that together we will succeed.</p>
                            <p><i class="mdi mdi-circle-medium text-success me-1"></i>Think tank partners, associates, and consulting and service providers are integral to our mission.</p>


                        </div>
                    </div>
                </div>
            </div>

            <div class="row align-items-center mt-5 pt-md-5">
                <div class="col-md-5">
                    <div class="mt-4 mt-md-0">
                        <div class="d-flex align-items-center mb-2">
                            <div class="features-number fw-semibold display-4 me-3">02</div>
                            <h4 class="mb-0">VALUES</h4>
                        </div>
                        <p class="text-muted">Willing to build with and around the largest, 
                            most diversified and efficiently net-connected group of specialists, 
                            engineers and scientists form all over the world, IGS is relying on the
                             freedom to think, share, and innovate in open world and minds. Accordingly, 
                             we will award and gratify our employees and partners, recognize their contributions and protect their IP’s.
                        </p>
                        <div class="text-muted mt-4">
                            <p class="mb-2"><i class="mdi mdi-circle-medium text-success me-1"></i>IGS relies on the freedom to think, share, and innovate in open worlds and minds.</p>
                            <p><i class="mdi mdi-circle-medium text-success me-1"></i>Accordingly, we will award and gratify our employees and partners.</p>
                            <p><i class="mdi mdi-circle-medium text-success me-1"></i>We recognize their contributions and protect their IPs.</p>


                        </div>
                    </div>
                </div>
                <div class="col-md-6  col-sm-8 ms-md-auto">
                    <div class="mt-4 me-md-0">
                        <img src="assets/images/small/val.jpeg" alt="" class="img-fluid mx-auto d-block  img-bordered" width="1200">
                    </div>
                </div>

            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center mb-5">
                     
                    </div>
                </div>
            </div>
            
            <div class="row align-items-center pt-4">
                <div class="col-md-6 col-sm-8">
                    <div>
                        <img src="assets/images/crypto/features-img/img-2.png" alt="" class="img-fluid mx-auto d-block">
                    </div>
                </div>
                <div class="col-md-5 ms-auto">
                    <div class="mt-4 mt-md-auto">
                        <div class="d-flex align-items-center mb-2">
                            <div class="features-number fw-semibold display-4 me-3">03</div>
                            <h4 class="mb-0">MISSION</h4>
                        </div>
                        <p class="text-muted">All relevant and valuable partners’ ideas are put forward to be challenged
                             in a mutual and high level of respect with commitment to build world-class thinking talents
                              who have the skills, inspiration and motivation to advance and safely serve our clients over 
                              the target industries range.

                        </p>
                        <div class="text-muted mt-4">
                            <p class="mb-2"><i class="mdi mdi-circle-medium text-success me-1"></i>All relevant and valuable partners' ideas are put forward for mutual challenge.</p>
                            <p><i class="mdi mdi-circle-medium text-success me-1"></i>We operate with a high level of respect and commitment. </p>
                            <p><i class="mdi mdi-circle-medium text-success me-1"></i>Our goal is to build world-class thinking talents. </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row align-items-center mt-5 pt-md-5">
                <div class="col-md-5">
                    <div class="mt-4 mt-md-0">
                        <div class="d-flex align-items-center mb-2">
                            <div class="features-number fw-semibold display-4 me-3">04</div>
                            <h4 class="mb-0">DIMENSION</h4>
                        </div>
                        <p class="text-muted">IGS’s team is committed to perform, consolidate, evolve and progressively spread to diverse engineering fields and projects complexity levels.
                            It is our strong belief that together we can build the future!
                        </p>
                        <div class="text-muted mt-4">
                            <p class="mb-2"><i class="mdi mdi-circle-medium text-success me-1"></i>IGS's team is committed to performance, consolidation, evolution, and expansion.</p>
                            <p><i class="mdi mdi-circle-medium text-success me-1"></i>We aim to cover diverse engineering fields and project complexity levels.</p>
                            <p><i class="mdi mdi-circle-medium text-success me-1"></i>Together, we believe we can build the future.</p>


                        </div>
                    </div>
                </div>
                <div class="col-md-6  col-sm-8 ms-md-auto">
                    <div class="mt-4 me-md-0">
                        <img src="assets/images/crypto/features-img/img-1.png" alt="" class="img-fluid mx-auto d-block">
                    </div>
                </div>

            </div>
        </div>
    </section>

    
    <!-- about section start -->
    <section class="section pt-4 bg-white" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center mb-5">
                        <h4>ETHOS</h4>
                    </div>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <div class="text-muted text-center">
                        <h4>At IGS we are guiding our commitment to solve, innovate and efficiently serve our clients:</h4>
                        <div class="text-muted mt-4">
                            <p class="mb-2"><i class="mdi mdi-circle-medium text-success me-1"></i>We do what we are able to do with excellence or find people capable of doing it ensuring they too maintain our standards.</p>
                            <p><i class="mdi mdi-circle-medium text-success me-1"></i>Each effort, task or project we undertake will be completed as though we have a vested interest and ultimately result in the growth of our clients.</p>
                            <p><i class="mdi mdi-circle-medium text-success me-1"></i> We treat our client’s assets as if they were our own and consider the project’s objectives, budgets and schedules consequently. </p>
                            <p><i class="mdi mdi-circle-medium text-success me-1"></i> We work to our utmost to meet or exceed our targets and commitments, as we will never surrender when facing the most challenging problems </p>
                            <p><i class="mdi mdi-circle-medium text-success me-1"></i> We deal with respect and comprehension and we do consider properly the client feelings and judgments involvement during the project execution period and after while. </p>


                        </div>
                       
                    </div>
                </div>

            
            </div>
         
       
        </div>
        <!-- end container -->
    </section>

</div> 

<app-footer></app-footer>