/* Common styles for all containers */
.card-container, .parameter-list-container {
  background-color: #ffffff; /* White background for clarity */
  border: 1px solid #ddd; /* Consistent light grey border */
  border-radius: 8px; /* Uniform rounded corners */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  padding: 0; /* No padding here, padding will be inside content areas */
  margin: 20px auto; /* Center the card with some margin from the top and bottom */
  width: 95%; /* Adjust based on your layout needs */
  overflow: hidden; /* Ensures no content spills out */
}

/* Headers for both types of containers */
.card-header, .parameter-list-header {
  background-color: #007bff; /* Blue background */
  color: #ffffff; /* White text */
  padding: 10px 20px; /* Adequate padding */
  font-size: 16px; /* Clear font size */
  font-weight: bold; /* Bold for emphasis */
  border-top-left-radius: 8px; /* Rounded top-left corner */
  border-top-right-radius: 8px; /* Rounded top-right corner */
}

/* General styles for tables */
.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th, td {
  padding: 8px 16px;
  text-align: left;
  border-bottom: 2px solid #dee2e6;
}

th {
  background-color: #f8f9fa;
  color: #333;
  white-space: nowrap;
}

/* Button styles applicable to all buttons */
.btn-action, .table-button {
  background-color: #007bff; /* Blue background */
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s, box-shadow 0.3s;
  text-align: center;
  margin-right: 10px;
}

.btn-action:hover, .table-button:hover {
  background-color: #0056b3; /* Darker blue on hover */
  box-shadow: 0 4px 8px rgba(0,0,0,0.3); /* Shadow effect for depth */
}

/* Flex container for buttons and other elements */
.actions, .button-container, .icon-legend-container, .content-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.icon-legend {
  margin-left: 20px;
}

.icon {
  font-size: 16px;
  padding-right: 5px;
}
.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;  /* Adjust margin to create space after the cards */
}
.icon.green { color: green; }
.icon.yellow { color: orange; }
.icon.red { color: red; }
.icon.blue { color: blue; }
.icon.gray { color: gray; }
