<app-navbar></app-navbar>
<br><br><br>

<div>
    <section class="section" id="propos" style="height: 40vh;">
        <img src="assets/images/small/coll.jpeg" alt="Image de fond" class="full-width" />
        <div class="container">
            <div class="row ">

                <h1 class=" titre text-center"> Collaborateurs </h1>

            </div>
        </div>
    </section>
   
    <section class="section bg-white" id="roadmap">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center mb-5">
                        <div class="mb-3">
                            <h5>Innover en collaborant</h5>
                        </div>
                        <h4>Profitez des liens que IGS a déjà tissés</h4>
                        <div class="text-muted mt-4">
                            <h6>Plusieurs projets sont menés avec ses partenaires académiques et privés mondiaux. Les gouvernements du Québec et du Canada sont également nos partenaires financiers.</h6> 
                        </div>
                    </div>
                </div>
            </div>   

            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title mb-4">Partenaires de recherche</h4>
                                <ul>
                                    <li>AMIRA International, Melbourne (Australie)</li>
                                    <li>Canada Mining Innovation Council (CMIC), Ottawa (Ont.)</li>
                                    <li>Centre de traitement des résidus industriels (CTRI), Rouyn-Noranda (Qc.)</li>
                                    <li>Coalia, Thetford Mines (Qc.)</li>
                                    <li>IVADO, Montréal (Qc.)</li>
                                    <li>National Research Council of Canada (NRC)</li>
                                    <li>Ressources naturelles Canada (CanmetMINES), Ottawa (Ont.)</li>
                                </ul>
                                <h4 class="card-title mb-4">Universités</h4>
                                <ul>
                                    <li>Curtin University, Perth, (Australie)</li>
                                    <li>University of British Columbia, Vancouver (C.-B.)</li>
                                    <li>École Polytechnique de Montréal (Qc.)</li>
                                    <li>INRS-ÉTÉ, Québec (Qc.)</li>
                                    <li>Laval University, Québec (Qc.)</li>
                                    <li>McGill University, Montréal (Qc.)</li>
                                    <li>Queen's University, Kingston (Ont.)</li>
                                    <li>University of Toronto, Toronto (Ont.)</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title mb-4">Partenaires de recherche, développement et valorisation</h4>
                                <ul>
                                    <li>BBA</li>
                                    <li>BioCarbon Industries</li>
                                    <li>Copper Mountain</li>
                                    <li>Cyanco</li>
                                    <li>Derrick</li>
                                    <li>Draslovka</li>
                                    <li>FLSmidth</li>
                                    <li>H2Flow</li>
                                    <li>Jumine</li>
                                    <li>MeGlobal</li>
                                    <li>Métal 7</li>
                                    <li>Metcom</li>
                                    <li>Mining and Process Solutions</li>
                                    <li>National Carbon</li>
                                    <li>Newmont, Mine Porcupine</li>
                                    <li>Paul Wurth</li>
                                    <li>ThyssenKrupp</li>
                                    <li>Scantech</li>
                                    <li>Weir Minerals</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            





        </div>



 
      
        
           





    </section>

    <section class="section bg-white" id="roadmap">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center mb-5">
                        <h4>Partenaires financiers</h4>
                    </div>

                   
                </div>
            </div>  

       
        </div>
    </section>
   

</div>


<app-footer></app-footer>