<app-navbar></app-navbar>
<br><br><br>

<div>
    <section class="section" id="propos" style="height: 40vh;">
        <img src="assets/images/small/clients1.jpg" alt="Image de fond" class="full-width" />
        <div class="container">
            <div class="row ">
                <h1 class=" titre text-center">  
                    Clients </h1>
            </div>
        </div>
    </section>


    <section class="section pt-4 bg-white" id="about">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <div class="text-muted text-center">
                        <h4>Clients
                        </h4>
                        <div class="text-muted mt-4">
                            <h6>At IGS, we pride ourselves on delivering successful projects to our customers at all stages of project development.
                                Since 2016, we have served many local and international clients among them we count </h6>
                         </div>
                    </div>
                    <br><br>
                    <div class="row">
                        <div class="col-xl-4 col-sm-6">
                            <div class="blog-box mb-4 mb-xl-0">
                                <div class="position-relative">
                                    <img src="assets/images/small/eramet.jpg" alt="" width="100"
                                        class="rounded img-fluid mx-auto d-block">
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-4 col-sm-6">
                            <div class="blog-box mb-4 mb-xl-0">
                                <div class="position-relative">
                                    <img src="assets/images/small/maz.png" alt="" width="180"
                                        class="rounded img-fluid mx-auto d-block">
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-4 col-sm-6">
                            <div class="blog-box mb-4 mb-xl-0">
                                <div class="position-relative">
                                    <img src="assets/images/small/fan.jpg" alt="" width="180"
                                        class="rounded img-fluid mx-auto d-block">
                                </div>
                            </div>
                        </div>

                    

                        <div class="col-xl-4 col-sm-6">
                            <div class="blog-box mb-4 mb-xl-0">
                                <div class="position-relative">
                                    <img src="assets/images/small/bu.png" alt="" width="100"
                                        class="rounded img-fluid mx-auto d-block">
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-sm-6">
                            <div class="blog-box mb-4 mb-xl-0">
                                <div class="position-relative">
                                    <img src="assets/images/small/ny.png" alt="" width="250"
                                        class="rounded img-fluid mx-auto d-block">
                                </div>
                            </div>
                        </div>
                       
                        <div class="col-xl-4 col-sm-6">
                            <div class="blog-box mb-4 mb-xl-0">
                                <div class="position-relative">
                                    <img src="assets/images/small/mab.jpg" alt="" width="250"
                                        class="rounded img-fluid mx-auto d-block">
                                </div>
                            </div>
                        </div>

                      

                        <div class="col-xl-4 col-sm-6">
                            <div class="blog-box mb-4 mb-xl-0">
                                <div class="position-relative">
                                    <img src="assets/images/small/gming.png" alt="" width="500"
                                        class="rounded img-fluid mx-auto d-block">
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-4 col-sm-6">
                            <div class="blog-box mb-4 mb-xl-0">
                                <div class="position-relative">
                                    <img src="assets/images/small/can.jpg" alt="" width="180"
                                        class="rounded img-fluid mx-auto d-block">
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-4 col-sm-6">
                            <div class="blog-box mb-4 mb-xl-0">
                                <div class="position-relative">
                                    <img src="assets/images/small/glen.png" alt="" width="700"
                                        class="rounded img-fluid mx-auto d-block">  
                                </div>
                            </div>
                        </div>

                        

                    </div>
                </div>
            </div>
            
        </div>   
        <!-- end container -->
    </section>


</div>


<app-footer></app-footer>