<app-navbar></app-navbar>
<br><br><br>

<div>
    <section class="section" id="propos" style="height: 40vh;">
        <img src="assets/images/small/cam.jpeg" alt="Image de fond" class="full-width" />
        <div class="container">
            <div class="row ">

                <h5 class=" titre text-center"> À propos de IGS </h5>

            </div>
        </div>
    </section>
    <section class="section" id="features">
        <div class="container">




            <div class="row align-items-center mt-5 pt-md-5">
                <div class="col-md-5">
                    <div class="mt-4 mt-md-0">
                        <div class="d-flex align-items-center mb-2">
                            <div class="features-number fw-semibold display-4 me-3">01</div>
                            <h4 class="mb-0">Introduction </h4>
                        </div>
                        <p class="text-muted"> IGS est un centre d’expertise et d’innovations à but non lucratif qui
                            offre aux sociétés minières une gamme de services spécialisés et d’expertises de recherche
                            afin d’optimiser et développer les procédés clés de traitement de minerais, pour améliorer
                            la compétitivité et pour réduire l’impact environnemental par des solutions innovantes.
                        </p>
                        <div class="text-muted mt-4">
                            <h5>Notre mission </h5>
                            <p class="mb-2"><i class="mdi mdi-circle-medium text-success me-1"></i>
                                Créer des solutions innovantes en traitement de minerais au bénéfice d’une industrie
                                minière durable, en travaillant étroitement avec nos membres, nos clients et nos
                                partenaires.</p>
                            <br>

                            <h5>Notre vision </h5>
                            <p class="mb-2"><i class="mdi mdi-circle-medium text-success me-1"></i>
                                Être reconnu à l’international comme un leader en technologies et en innovation dans le traitement de minerais.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6  col-sm-8 ms-md-auto">
                    <div class="mt-4 me-md-0">
                        <img src="assets/images/small/introduction.jpg" alt="" class="img-fluid mx-auto d-block  img-bordered"
                            width="1200">
                    </div>
                </div>

            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center mb-5">

                    </div>
                </div>
            </div>

            <div class="row align-items-center pt-4">
                <div class="col-md-6 col-sm-8">
                    <div>
                        <img src="assets/images/crypto/features-img/img-2.png" alt="" class="img-fluid mx-auto d-block">
                    </div>
                </div>
                <div class="col-md-5 ms-auto">
                    <div class="mt-4 mt-md-auto">
                        <div class="d-flex align-items-center mb-2">
                            <div class="features-number fw-semibold display-4 me-3">02</div>
                            <h4 class="mb-0">Des valeurs qui nous guident</h4>
                        </div>
                        <br>
                        <div class="text-muted mt-4">
                            <h5>Créativité</h5>
                            <p class="mb-2"><i class="mdi mdi-circle-medium text-success me-1"></i>Nous travaillons à voir des possibilités là où il ne semble pas y en avoir : nous cultivons l’art de faire autrement.</p>
                            <br>
                            <h5>Intégrité</h5>
                            <p class="mb-2"><i class="mdi mdi-circle-medium text-success me-1"></i>Nous faisons preuve d’honnêteté par la véracité et l’exactitude de nos paroles, en cohérence avec nos actions.</p>
                            <br>
                            <h5>Engagement</h5>
                            <p class="mb-2"><i class="mdi mdi-circle-medium text-success me-1"></i>Nous faisons la promesse envers nos collègues, notre organisation, nos membres et nos partenaires d’offrir le meilleur de nous-même et de poser des actions en ce sens.</p>
                            <br>
                            <h5>Esprit d’équipe</h5>
                            <p class="mb-2"><i class="mdi mdi-circle-medium text-success me-1"></i>Nous nous unissons et travaillons ensemble dans un but commun, dans un climat de confiance, d’ouverture et de respect.</p>
                            <br>
                            <h5>Santé, sécurité et développement durable</h5>
                            <p class="mb-2"><i class="mdi mdi-circle-medium text-success me-1"></i>Nous nous engageons à contribuer à un milieu de travail sain et sécuritaire et nous posons des actions concrètes pour prendre part au développement durable.                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- about section start -->
    <section class="section pt-4 bg-white" id="about">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <div class="text-muted text-center">
                        <h4>Engagement client - Notre promesse
                        </h4>
                        <div class="text-muted mt-4">
                            <h6>Chez IGS, la culture client est une priorité et s’applique à l’interne comme à l’externe. 

                                ​Consultez <span class="text-warning">Notre engagement client, la promesse </span> que nous nous faisons entre nous, envers nos clients, nos membres et nos partenaires qui est le reflet de cette culture.  </h6>

                                <br>
                                <h6>Nous nous faisons la promesse d’appliquer cet engagement individuellement et collectivement au sein de tout IGS.                                 </h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end container -->
    </section>
    <section class="section pt-4 bg-white" id="about">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <div class="text-muted text-center">
                        <h4>Portrait d'entreprise</h4>
                        <br>
                        <div class="col-lg-12">
                            <div class="col-lg-12">
                                <div class="card">
                                    <img class="card-img img-fluid img-bordered" src="assets/images/small/tech.jpeg" alt="Card image" height="10">
                                    <br>
                                    <h4 class="card-title text-info mt-0">Tourné vers la satisfaction de ses membres et clients et engagé à garantir des résultats de qualité et de bonnes pratiques professionnelles, Corem met notamment en oeuvre deux systèmes de management de la qualité assurant</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      
    </section>

    <section class="section pt-4 bg-white" id="about">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <div class="text-muted text-center">
                        <h4>Politique qualité
                        </h4>
                        <div class="text-muted mt-4">
                            <h6>Tourné vers la satisfaction de ses membres et clients et engagé à garantir des résultats de qualité et de bonnes pratiques professionnelles, IGS met notamment en oeuvre deux systèmes de management de la qualité assurant une prestation de service de laboratoire répondant aux exigences les plus élevées de l’industrie minière.</h6>
                            <br>
                            <h6>Consultez la <span class="text-warning">Politique qualité de IGS</span>  pour plus de détails.</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end container -->
    </section>

    <section class="section pt-4 bg-white" id="about">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <div class="text-muted text-center">
                        <h4>Politiques en regard de la santé, la sécurité au travail et l'environnement
                        </h4>
                        <div class="text-muted mt-4">
                            <h6>IGS dirige ses activités de façon à assurer un milieu de travail sain et sécuritaire à ses employés, ses sous-traitants et ses visiteurs et à protéger l’environnement.</h6>
                            <br>
                            <h6>Consultez la <span class="text-info">Politique de IGS en regard de la santé, de la sécurité au travail et de l’environnement</span>  pour plus de détails.</h6>
                            <br>
                            <h6>Dans l’objectif de supporter ses membres, ses clients et ses fournisseurs dans leur développement durable, IGS à mis en place une politique environnementale pour l’entreprise.</h6>
                            <br>
                            <h6>Consultez <span class="text-info"> la politique environnementale de IGS</span></h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end container -->
    </section>



</div>


<app-footer></app-footer>