<app-navbar></app-navbar>
<br><br><br>

<div>
    <section class="section" id="propos" style="height: 40vh;">
        <img src="assets/images/small/gp.jpeg" alt="Image de fond" class="full-width" />
        <div class="container">
            <div class="row ">
                <h1 class=" titre text-center">Gold Testing Capabilities</h1>
            </div>
        </div>
    </section>

    <section  class="section pt-4 bg-white">
        <div class="container">
            <div class="row align-items-center mt-5 pt-md-5">
                <div class="col-md-6">
                    <div class="mt-4 mt-md-0">
                        <div class="d-flex align-items-center mb-2">
                            <h1>Gold Testing Capabilities </h1>
                        </div>
                        <p class="text-muted">Gold cyanidation remain the most used gold processing technology.  IGS expert being associated with many gold processing scheme development and optimisation projects, can bring an added value to your project development and thus guide your testing program to be well suited to your deposit and earlier in the project cycle.  Our gold cyanidation testing capabilities cover the free gold milling to the most refractory gold bearing minerals:</p>
                        <div class="text-muted mt-4">
                            <p class="mb-2"><i class="mdi mdi-circle-medium text-success me-1"></i>Direct Cyanide Leaching</p>
                            <p class="mb-2"><i class="mdi mdi-circle-medium text-success me-1"></i>Carbon in Leach (CIL)</p>
                            <p class="mb-2"><i class="mdi mdi-circle-medium text-success me-1"></i>Carbon in Pulp (CIP)</p>
                            <p class="mb-2"><i class="mdi mdi-circle-medium text-success me-1"></i>Stirred Cyanide Leach – Vat & Bottle</p>
                            <p class="mb-2"><i class="mdi mdi-circle-medium text-success me-1"></i>Carbon Activity & Carbon Characterization</p>
                            <p class="mb-2"><i class="mdi mdi-circle-medium text-success me-1"></i>Carbon Loading for modelling</p>
                            <p class="mb-2"><i class="mdi mdi-circle-medium text-success me-1"></i>Heap Leach Simulation (COBR & Column Testing)</p>
                            <p class="mb-2"><i class="mdi mdi-circle-medium text-success me-1"></i>Oxygen Uptake Rate Determination</p>
                            <p class="mb-2"><i class="mdi mdi-circle-medium text-success me-1"></i>Lime Demand</p>
                            <p class="mb-2"><i class="mdi mdi-circle-medium text-success me-1"></i>Oxygen Enhanced Leaching</p>
                            <p class="mb-2"><i class="mdi mdi-circle-medium text-success me-1"></i>Preg-Robbing Characterization</p>
                            <p class="mb-2"><i class="mdi mdi-circle-medium text-success me-1"></i>Cyanide Detox and Destruction</p>
                            <p class="mb-2"><i class="mdi mdi-circle-medium text-success me-1"></i>Arsenic Precipitation</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6  col-sm-8 ms-md-auto">
                   
                    <div class="card">

                        <div class="card-body">
                          <!-- Crossfade carousel -->
                          <ngb-carousel [showNavigationIndicators]="showNavigationIndicators">
                            <ng-template ngbSlide>
                              <img src="assets/images/small/glt.jpg" alt="first slide" class="animated fadeIn d-block img-fluid img-bordered">
                            </ng-template>
                           
                            
                          </ngb-carousel>
                          <!-- End Crossfade carousel -->
                        </div>
                      </div>
                   
                    
                </div>

            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center mb-5">

                    </div>
                </div>
            </div>
        </div>
    </section>

</div>


<app-footer></app-footer>