<app-navbar></app-navbar>
<br><br><br>

<div>
    <section class="section" id="propos" style="height: 40vh;">
        <img src="assets/images/small/rd1.jpeg" alt="Image de fond" class="full-width" />
        <div class="container">
            <div class="row ">

                <h1 class=" titre text-center"> R&D </h1>

            </div>
        </div>
    </section>


    <section  class="section pt-4 bg-white">
        <div class="container">
            <div class="row align-items-center mt-5 pt-md-5">
                <div class="col-md-6">
                    <div class="mt-4 mt-md-0">
                        <div class="d-flex align-items-center mb-2">
                            <h1>R&D</h1>
                        </div>
                        <p class="text-muted"> IGS is targeting to be a Canadian leading consultancy group in the extraction and processing of various minerals. Our R&D activities target innovative solutions to tackle complex ore deposits, targeting to render them exploitable within the narrow technical, environmental and economic feasibility.</p>

                        <div class="text-muted mt-4">
                            <p class="mb-2"><i class="mdi mdi-circle-medium text-success me-1"></i>Development of processes to recover valuables from wastes, historical tailings and by-products.</p>
                            <p class="mb-2"><i class="mdi mdi-circle-medium text-success me-1"></i>Flow sheet development to beneficiate low and medium grade ores</p>
                            <p class="mb-2"><i class="mdi mdi-circle-medium text-success me-1"></i>Management of Pilot and demonstration studies to collect the design data for commercial plants</p>
                            <p class="mb-2"><i class="mdi mdi-circle-medium text-success me-1"></i>Perform Plant audit and KPIs improvement through: </p>
                            <br>
                            <p class="mb-2"><i class="mdi mdi-chevron-right text-primary me-1"></i>Valuation of IP and Patenting (VIP)</p>
                            <p class="mb-2"><i class="mdi mdi-chevron-right text-primary me-1"></i>Due Diligent Review</p>
                            <p class="mb-2"><i class="mdi mdi-chevron-right text-primary me-1"></i>Specific R&D Management and Collaboration Follow Up</p>
                            <p class="mb-2"><i class="mdi mdi-chevron-right text-primary me-1"></i>Specific R&D Management and Collaboration Follow Up</p>
                        </div>

                        <div class="text-muted mt-4">
                            <h5>Our R&D Planning team deals with:</h5>
                            <p class="mb-2"><i class="mdi mdi-circle-medium text-success me-1"></i>Resource planning and implementation of in-house and externally funded projects for the lab.</p>
                            <p class="mb-2"><i class="mdi mdi-circle-medium text-success me-1"></i>Implementation of intellectual property management.</p>
                            <p class="mb-2"><i class="mdi mdi-circle-medium text-success me-1"></i>Quality system management</p>
                            <p class="mb-2"><i class="mdi mdi-circle-medium text-success me-1"></i>Processing of various agreements &MoUs for implementation</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-8 ms-md-auto">
                  
                    <div class="mt-4 me-md-0">
                        <img src="assets/images/small/rd.jpeg" alt="" class="img-fluid mx-auto d-block  img-bordered"
                            width="1200">
                    </div>
                   
                    
                </div>

            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center mb-5">

                    </div>
                </div>
            </div>
        </div>
    </section>  

</div>


<app-footer></app-footer>