<app-navbar></app-navbar>
<br><br><br>

<div>
    <section class="section" id="propos" style="height: 40vh;">
        <img src="assets/images/small/lab.jpeg" alt="Image de fond" class="full-width" />
        <div class="container">
            <div class="row ">

                <h1 class=" titre text-center"> Lab Auditing </h1>

            </div>
        </div>
    </section>

    <section  class="section pt-4 bg-white">
        <div class="container">
            <div class="row align-items-center mt-5 pt-md-5">
                <div class="col-md-12">
                    <div class="mt-4 mt-md-0">
                        <div class="d-flex align-items-center mb-2">  
                            <h1>Lab Auditing </h1>
                        </div>
                        <p class="text-muted"> IGS also provides ISO-17025 Implementation, QA/QC Implementation, Laboratory Best Practice Guidance and Laboratory Auditing Services.</p>
                        <br>
                        <p class="text-muted"> ISO 17025 is a regulatory requirement and a customer pressure, being essential for business and without it the organization’s whole business may be at risk.  As your organizations cannot risk jeopardizing this with an ineffective management system, internal auditing is the gatekeeper to ensure your ongoing success.</p>
                        <br>
                        <p class="text-muted"> ISO 17025 is an accreditation standard designed to give total confidence in the organization’s system.  It is different from certification standard such as ISO 9001 or ISO 14001 where a certified system it might be acceptable to have systems that may lead to some errors.</p>
                        <br>
                        <p class="text-muted"> In an accreditation system, errors are simply not acceptable, and the ISO 17025 management system must be infallibly designed and implemented to survive to the tough accreditation auditing process.</p>

                        <br>
                        <p class="text-muted"> Internal auditing should provide a similarly thorough approach.  While it does need to bring added value to the organization, the first objective is to ensure that the requirements of the standard are met unquestionably.  Even with an established and accredited management system, the internal audit process is an essential tool to thoroughly investigate every requirement, uncover alternative interpretations that an external auditor might stumble upon and assure the solidarity of the processes involved.</p>

                        <br>
                        <p class="text-muted"> Auditors must still look for improvement opportunities such as streamlining processes and reducing unnecessary bureaucracies (note that some duplication and bureaucracy is often deliberate to assure the success of the processes).  The continual improvement of the management system is an essential and important goal of the internal audit process.</p>

                        <br>
                        <p class="text-muted"> Given the importance of the internal audit activity, it is essential that auditors are experienced and skilled.  Yes, technically a “once-a-year” auditor theoretically qualifies for this role, but they are less likely to achieve either of the objectives just discussed.</p>

                        <br>
                        <p class="text-muted">IGS is counting a team of 5 qualified auditors fully covering the overall ISO 17025 management system component.  We design and implement ISO 17025 management systems that address the organization’s business goal and yet assure effective processes.  Our experienced and up-to-date auditors ensure we are best suited to conduct internal audits that :</p>
                        <br>
                        <div class="text-muted mt-4">
                            <p class="mb-2"><i class="mdi mdi-circle-medium text-success me-1"></i>Give management confidence that the processes they have are effective and that they will maintain their ISO 17025 accreditation.</p>
                            <p class="mb-2"><i class="mdi mdi-circle-medium text-success me-1"></i>Easily convince accreditation auditors that the system is audited thoroughly and professionally.</p>
                            <p class="mb-2"><i class="mdi mdi-circle-medium text-success me-1"></i>Provide thorough auditing that identifies any question before an accreditation auditor might identify it.</p>
                            <p class="mb-2"><i class="mdi mdi-circle-medium text-success me-1"></i>Provide the skills, expertise and resources that are not easily available internally.</p>
                            <p class="mb-2"><i class="mdi mdi-circle-medium text-success me-1"></i>Offer experience to identify appropriate necessary controls versus opportunities for improvement.</p>
                        </div>
                        <br>
                        <p class="text-muted">By engaging IGS auditor(s) to conduct your internal audits you will assure the effectiveness of your management system and protect ISO accreditation status from the uncertainty of the external auditing.</p>
                        <br>
                        <p class="text-muted">IGS Auditor(s) offers a suited package of full-service ISO 17025 management system consulting, implementation, auditing, coaching and training.</p>

                    </div>
                </div>
               
            </div>
        </div>
    </section>

</div>


<app-footer></app-footer>