<app-client-nav-bar></app-client-nav-bar>
<div class="form-container">
  <div class="main-title">
    <h1>Nouvelle demande</h1>
    <p class="required-note"><span>*</span>: obligatoire</p>
  </div>
  <div class="card">
    <div class="card-header">
      <h2>Nouvelle demande</h2>
    </div>
  <form [formGroup]="demandeForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="demandePour">Demande pour:</label>
      <input type="text" class="form-control" formControlName="demandePour" id="demandePour">
    </div>

    <div class="form-group">
      <label for="envoyeAuLaboratoire">Envoyé au laboratoire:</label>
      <input type="text" class="form-control" formControlName="envoyeAuLaboratoire" id="envoyeAuLaboratoire">
    </div>

    <div class="form-row">
      
      <div class="form-group textarea-group">
        <label for="courrielsSupplementaires">Courriels supplémentaires:</label>
        <textarea class="form-control" formControlName="courrielsSupplementaires" id="courrielsSupplementaires"></textarea>
      </div>
      
    </div>
   

    <div class="form-group">
      <label for="bonDeCommande">Bon de commande:</label>
      <input type="text" class="form-control" formControlName="bonDeCommande" id="bonDeCommande">
    </div>

  

    <div class="form-group">
      <label for="langueDuCertificat">Langue du certificat:</label>
      <select class="form-control" formControlName="langueDuCertificat" id="langueDuCertificat">
        <option value="FRANCAIS">Français</option>
        <option value="ANGLAIS">Anglais</option>
      </select>
    </div>

    <div class="form-group">
      <label for="commentairesInternes">Commentaires internes de la demande d'analyses:</label>
      <textarea class="form-control" formControlName="commentairesInternes" id="commentairesInternes"></textarea>
    </div>
  </form>
  <div class="button-container">
    <button type="button" (click)="navigateToNext()" class="btn btn-secondary">Suivant</button>
  </div>
</div>
