<app-navbar></app-navbar>
<br><br><br>

<div>
    <section class="section" id="propos" style="height: 40vh;">
        <img src="assets/images/small/gold.jpeg" alt="Image de fond" class="full-width" />
        <div class="container">
            <div class="row ">

                <h1 class=" titre text-center"> Floatation Testing Capabilities </h1>

            </div>
        </div>
    </section>

    <section  class="section pt-4 bg-white">
        <div class="container">
            <div class="row align-items-center mt-5 pt-md-5">
                <div class="col-md-6">
                    <div class="mt-4 mt-md-0">
                        <div class="d-flex align-items-center mb-2">
                            <h1>  Floatation Testing Capabilities </h1>
                        </div>
                        <p class="text-muted"> IGS team has extensive and diversified experience in the flotation of various minerals and lab scale flotation circuit scheme development to support basic and complex basic projects.  Our Flotation testing services include:</p>

                        <div class="text-muted mt-4">
                            <p class="mb-2"><i class="mdi mdi-circle-medium text-success me-1"></i>Flotation process recipe and scheme development</p>
                            <p class="mb-2"><i class="mdi mdi-circle-medium text-success me-1"></i>Rougher Kinetics</p>
                            <p class="mb-2"><i class="mdi mdi-circle-medium text-success me-1"></i>Reagent screening</p>
                            <p class="mb-2"><i class="mdi mdi-circle-medium text-success me-1"></i>Batch Cleaner</p>
                            <p class="mb-2"><i class="mdi mdi-circle-medium text-success me-1"></i>Locked Cycle Testing</p>
                        </div>
                        <br>
                        <p class="text-muted"> Our knowhow covers broad range of commodities:</p>
                        <div class="text-muted mt-4">
                            <p class="mb-2"><i class="mdi mdi-circle-medium text-success me-1"></i>Base Metals: Copper, Lead, Zinc, Nickel, Cobalt</p>
                            <p class="mb-2"><i class="mdi mdi-circle-medium text-success me-1"></i>Precious Metals: Gold, Silver and PGM</p>
                            <p class="mb-2"><i class="mdi mdi-circle-medium text-success me-1"></i>Oxide: Niobium, lithium, oxide base metals, REE, etc.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6  col-sm-8 ms-md-auto">
                   
                    <div class="card">

                        <div class="card-body">
                          <!-- Crossfade carousel -->
                          <ngb-carousel [showNavigationIndicators]="showNavigationIndicators">
                            <ng-template ngbSlide>
                              <img src="assets/images/small/f1.png" alt="first slide" class="animated fadeIn d-block img-fluid img-bordered" width="1500">
                            </ng-template>
                            <ng-template ngbSlide>
                              <img src="assets/images/small/BRT1.jpg" alt="second slide" class="animated fadeIn d-block img-fluid img-bordered">
                            </ng-template>
                            <ng-template ngbSlide>
                              <img src="assets/images/small/f2.jpg" alt="third slide" class="animated fadeIn d-block img-fluid img-bordered">
                            </ng-template>
                          </ngb-carousel>
                          <!-- End Crossfade carousel -->
                        </div>
                      </div>
                   
                    
                </div>

            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center mb-5">

                    </div>
                </div>
            </div>
        </div>
    </section>

</div>


<app-footer></app-footer>