<app-navbar></app-navbar>
<br><br><br>

<div>
    <section class="section" id="propos" style="height: 40vh;">
        <img src="assets/images/small/pr1.jpg" alt="Image de fond" class="full-width" />
        <div class="container">
            <div class="row ">
                <h1 class=" titre text-center">  
                  Projects </h1>
            </div>
        </div>
    </section>


    <section class="section bg-white" id="news">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center mb-5">
                        <h4>Projects</h4>
                    </div>
                </div>
            </div>
            <!-- end row -->

            <div class="row">
                <div class="col-xl-4 col-sm-6">
                    <div class="blog-box mb-4 mb-xl-0">
                        <div class="position-relative">
                            <img src="assets/images/small/ip1.jpg" alt="" width="550"
                                class="rounded img-fluid mx-auto d-block">
                        </div>

                        <div class="mt-4 text-muted">
                            <h5 class="mb-3">Lab auditing and operation</h5>
                            <div class="text-muted mt-4">
                                <p class="mb-2"><i class="mdi mdi-circle-medium text-success me-1"></i>Audit, review QA/QC practices and Interim operation of Cu-Zn plant analytical Lab</p>
                                <p class="mb-2"><i class="mdi mdi-circle-medium text-success me-1"></i>Preliminary study and base engineering for the commissioning of 1 tpd demo-plant, (hydrometallurgical extraction of SR)</p>
                            </div>
                        </div>
                    </div>
                </div>

                
                <div class="col-xl-4 col-sm-6">
                    <div class="blog-box mb-4 mb-xl-0">
                        <div class="position-relative">
                            <img src="assets/images/small/ip2.jpg" alt="" width="550"
                                class="rounded img-fluid mx-auto d-block">
                        </div>

                        <div class="mt-4 text-muted">
                            <h5 class="mb-3">Hydromet Process technologies development</h5>
                            <div class="text-muted mt-4">
                                <p class="mb-2"><i class="mdi mdi-circle-medium text-success me-1"></i>Vanadium solvent extraction with focus on Fe/Cr efficient removal</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-4 col-sm-6">
                    <div class="blog-box mb-4 mb-xl-0">
                        <div class="position-relative">
                            <img src="assets/images/small/ip3.jpg" alt="" width="1050"
                                class="rounded img-fluid mx-auto d-block">
                        </div>

                        <div class="mt-4 text-muted">
                            <h5 class="mb-3">Processing technology review</h5>
                            <div class="text-muted mt-4">
                                <p class="mb-2"><i class="mdi mdi-circle-medium text-success me-1"></i>Critical Review and project development road map. Nb-Apatite-RE-Uranium Project</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-4 col-sm-6">
                    <div class="blog-box mb-4 mb-xl-0">
                        <div class="position-relative">
                            <img src="assets/images/small/ip4.jpg" alt="" width="550"
                                class="rounded img-fluid mx-auto d-block">
                        </div>

                        <div class="mt-4 text-muted">
                            <h5 class="mb-3">Other recent involvement of key team members</h5>
                            <div class="text-muted mt-4">
                                <p class="mb-2"><i class="mdi mdi-circle-medium text-success me-1"></i>Due Diligence on the Niobec Mine for potential acquisition transaction.</p>
                                <p class="mb-2"><i class="mdi mdi-circle-medium text-success me-1"></i>Due Diligent Review of Titanium hydromet. / Pyromet. Processes and Technologies for Nevado resources (Titanium)- Review of Pigment specialty production demo plant records – Simulation of the overall process for commercial business case.</p>
                                <p class="mb-2"><i class="mdi mdi-circle-medium text-success me-1"></i>Radioactivity mapping of the rare earth processing. Mitigation solutions and feasibility of hydromet tailings (Th-U rich) disposal via backfilling.</p>
                                <p class="mb-2"><i class="mdi mdi-circle-medium text-success me-1"></i>Diligent review, ramp-up perspective and technical features and investment risks, carbonate lithium producer, flotation and hydrometallurgical plant.</p>
                                <p class="mb-2"><i class="mdi mdi-circle-medium text-success me-1"></i>Process development and process engineering, Rare Earth and Niobium Project (bastnaesite and monazite ore types).</p>
                                <p class="mb-2"><i class="mdi mdi-circle-medium text-success me-1"></i>Met testing supervision and review of overall processing and refining metwork for a Nb-Ta low grade project.</p>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-4 col-sm-6">
                    <div class="blog-box mb-4 mb-xl-0">
                        <div class="position-relative">
                            <img src="assets/images/small/ip5.jpg" alt="" width="550"
                                class="rounded img-fluid mx-auto d-block">
                        </div>

                        <div class="mt-4 text-muted">
                            <h5 class="mb-3">Environmental solutions</h5>
                            <div class="text-muted mt-4">
                                <p class="mb-2"><i class="mdi mdi-circle-medium text-success me-1"></i>Critical revue, LCA assessment and technology market study for patented process aiming to produce Synthetic Rutile from low grade ilmenite</p>
                                <p class="mb-2"><i class="mdi mdi-circle-medium text-success me-1"></i>Critical review and comparison of the environmental footprint of Titanium pigment production via emerging and commercial technologies</p>
                                <p class="mb-2"><i class="mdi mdi-circle-medium text-success me-1"></i>Overview of Process Gypsum issues and mitigation opportunities- The phospho-gypsum case</p>
                                <p class="mb-2"><i class="mdi mdi-circle-medium text-success me-1"></i>Critical review of emerging technologies for decadmiation of phosphoric acid and associated fertilizers products- Perspective of short-mid-term technology transfer</p>
                            </div>
                        </div>
                    </div>
                </div>

           
            </div>

            
            <!-- end row -->
        </div>
        <!-- end container -->
    </section>
    


</div>


<app-footer></app-footer>